/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.3-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: soccer_stats
-- ------------------------------------------------------
-- Server version	11.8.3-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `epl_matches`
--

DROP TABLE IF EXISTS `epl_matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `epl_matches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `season` varchar(10) NOT NULL,
  `match_date` date NOT NULL,
  `home_team` varchar(50) NOT NULL,
  `away_team` varchar(50) NOT NULL,
  `full_time_home_goals` int(11) NOT NULL,
  `full_time_away_goals` int(11) NOT NULL,
  `full_time_result` char(1) NOT NULL,
  `half_time_home_goals` int(11) NOT NULL,
  `half_time_away_goals` int(11) NOT NULL,
  `half_time_result` char(1) NOT NULL,
  `home_shots` int(11) NOT NULL,
  `away_shots` int(11) NOT NULL,
  `home_shots_on_target` int(11) NOT NULL,
  `away_shots_on_target` int(11) NOT NULL,
  `home_corners` int(11) NOT NULL,
  `away_corners` int(11) NOT NULL,
  `home_fouls` int(11) NOT NULL,
  `away_fouls` int(11) NOT NULL,
  `home_yellow_cards` int(11) NOT NULL,
  `away_yellow_cards` int(11) NOT NULL,
  `home_red_cards` int(11) NOT NULL,
  `away_red_cards` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_season` (`season`),
  KEY `idx_date` (`match_date`),
  KEY `idx_home_team` (`home_team`),
  KEY `idx_away_team` (`away_team`)
) ENGINE=InnoDB AUTO_INCREMENT=9381 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `epl_matches`
--

LOCK TABLES `epl_matches` WRITE;
/*!40000 ALTER TABLE `epl_matches` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `epl_matches` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-09-20 11:12:43
